
  <div class="row justify-content-center">
    <div class="col-auto">
  <table class="table align-content-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody id="tbodyProd">
  
  </div>
  </div>

</tbody>
</table>
<br>
<br>
<br>
     


