<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
    <div class="title">
      {{{title}}}
    </div>
    <br>


  <main role="main" class="flex-shrink-0">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1 class="text-muted font-weight-light mt-4" class="titulo" id="titulo" style="color:red !important">
              ERROR
            </h1>
            <div class="row justify-content-md-center">
              <div class="col-md-6">
                <div class="card mt-4">
                  <div class="card-body">
                   
                  Hubo un error al registrarse
                  <br>
                  <br>
                <b class="faltareg">
                    <a class="nav-link" href="./registro">Volver a intentar</a>
                    
                </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  </body>
</html>
