<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
    <div class="title">
      {{{title}}}
    </div>
    <br>
<div class="container">
    <div class="alert alert-warning" role="alert">
        Hasta luego, {{{name}}}!
    </div>
</div>
<script>
setTimeout(() => {window.location.href ="/";}, 2000);
</script>
</div>
  </body>
</html>
