<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>

    <div class="title">
      {{{title}}}
    </div>
    <br>

    <div class="col-sm">
      {{>products}}
    </div>


    

  </body>
   {{> footer}}
</html>
